body {
    margin: 0;
}

.container {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.kolumna {
    display: inline-block;
    width: 25%;
    height: 100vh;
    float: left;
    transition: all 0.5s linear;
}
.background {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#background-1 {
    background-color: red;
}
#background-2 {
    background-color: yellow;
}
#background-3 {
    background-color: deeppink;
}
#background-4 {
    background-color: darkgreen;
}

.kolumna:hover {
    width: 40%;
}

.container:hover .kolumna:not(:hover) {
    width: 20%;
}