/*selektor znacznika*/
p {
    background-color: aqua;
}

/*selektor id*/
#drugi-paragraf {
    background-color: darkorange;
}
.akademia {
    background-color: darkseagreen;
}   

#selektor-potomka > p{
    background-color: gold;
}
#drugi-potomek ~ p{
    background-color: lime;
}